.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj.user/F99BA1FF/bibliography-index/biblio-files
.Rproj.user/F99BA1FF/bibliography-index/biblio-files
.Rproj.user/F99BA1FF/bibliography-index/biblio.json
.Rproj.user/F99BA1FF/bookdown-crossref/04-properties.Rmd.xref
.Rproj.user/F99BA1FF/pcs/workbench-pane.pper
.Rproj.user/F99BA1FF/sources/per/t/98B26728
.Rproj.user/F99BA1FF/sources/per/t/938BBED0
.Rproj.user/F99BA1FF/sources/per/t/C2666065
.Rproj.user/F99BA1FF/sources/prop/7FB819D4
.Rproj.user/F99BA1FF/sources/prop/8A5699BF
.Rproj.user/F99BA1FF/sources/prop/CD32FFA3
.Rproj.user/shared/notebooks/61E0C353-04-properties/1/s/chunks.json
_book/404.html
_book/blocks.html
_book/crossec.html
_book/index.html
_book/intro.html
_book/math-review.html
_book/references.html
_book/search_index.json
_book/sharing-your-book.html
_book/spatial.html
